<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skoove.challenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.skoove.challenge.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.App">
        <activity
            android:name="com.skoove.challenge.ui.main.MainActivity"
            android:exported="true"
            android:label="${appName}"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.skoove.challenge.base.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>